@font-face {
    font-family: 'Raleway-Bold'; /*a name to be used later*/
    src: url('../vendor/raleway/Raleway-Bold.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Raleway-ExtraBold'; /*a name to be used later*/
    src: url('../vendor/raleway/Raleway-ExtraBold.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Raleway-ExtraLight'; /*a name to be used later*/
    src: url('../vendor/raleway/Raleway-ExtraLight.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Raleway-Heavy'; /*a name to be used later*/
    src: url('../vendor/raleway/Raleway-Heavy.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Raleway-Light'; /*a name to be used later*/
    src: url('../vendor/raleway/Raleway-Light.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Raleway-Medium'; /*a name to be used later*/
    src: url('../vendor/raleway/Raleway-Medium.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Raleway-Regular'; /*a name to be used later*/
    src: url('../vendor/raleway/Raleway-Regular.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Raleway-SemiBold'; /*a name to be used later*/
    src: url('../vendor/raleway/Raleway-SemiBold.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Raleway-Thin'; /*a name to be used later*/
    src: url('../vendor/raleway/Raleway-Thin.ttf'); /*URL to font*/
}

.zone {
    stroke: whitesmoke;
    stroke-linejoin: round;
    stroke-width: 0.05em;
}

.title{
    font-family: "Raleway-Bold";
    font-size: 2em;
}

.subtitle{
    font-family: "Raleway-Thin";
    font-size: 1em;
}

.zone_location_id{
    font-family: "Raleway-Heavy";
    font-size: 6em;
}

.zone_name {
    font-family: "Raleway-Heavy";
    font-size: 3.8em;
}

.zone_borough{
    font-family: "Raleway-Regular";
    font-size: 2.6em;
}

p {
  font-family: "Raleway-Light";
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway-Bold";
}

/**
 * COLORS
 */
.lighten-5 {
    background-color: #D0D6E2 !important; }

.lighten-4 {
    background-color: #B1BACE !important; }

.lighten-3 {
    background-color: #929FBA !important; }

.lighten-2 {
    background-color: #7283A7 !important; }

.lighten-1 {
    background-color: #59698D !important; }

.mdb-color {
    background-color: #45526E !important; }

.mdb-color-text {
    color: #45526E !important; }

.darken-1 {
    background-color: #3B465E !important; }

.darken-2 {
    background-color: #2E3951 !important; }

.darken-3 {
    background-color: #1C2A48 !important; }

.darken-4 {
    background-color: #1C2331 !important; }

.red.lighten-5 {
    background-color: #FFEBEE !important; }

.red.lighten-4 {
    background-color: #FFCDD2 !important; }

.red.lighten-3 {
    background-color: #EF9A9A !important; }

.red.lighten-2 {
    background-color: #E57373 !important; }

.red.lighten-1 {
    background-color: #EF5350 !important; }

.red {
    background-color: #F44336 !important; }

.red-text {
    color: #F44336 !important; }

.red.darken-1 {
    background-color: #E53935 !important; }

.red.darken-2 {
    background-color: #D32F2F !important; }

.red.darken-3 {
    background-color: #C62828 !important; }

.red.darken-4 {
    background-color: #B71C1C !important; }

.red.accent-1 {
    background-color: #FF8A80 !important; }

.red.accent-2 {
    background-color: #FF5252 !important; }

.red.accent-3 {
    background-color: #FF1744 !important; }

.red.accent-4 {
    background-color: #D50000 !important; }

.pink.lighten-5 {
    background-color: #fce4ec !important; }

.pink.lighten-4 {
    background-color: #f8bbd0 !important; }

.pink.lighten-3 {
    background-color: #f48fb1 !important; }

.pink.lighten-2 {
    background-color: #f06292 !important; }

.pink.lighten-1 {
    background-color: #ec407a !important; }

.pink {
    background-color: #e91e63 !important; }

.pink-text {
    color: #e91e63 !important; }

.pink.darken-1 {
    background-color: #d81b60 !important; }

.pink.darken-2 {
    background-color: #c2185b !important; }

.pink.darken-3 {
    background-color: #ad1457 !important; }

.pink.darken-4 {
    background-color: #880e4f !important; }

.pink.accent-1 {
    background-color: #ff80ab !important; }

.pink.accent-2 {
    background-color: #ff4081 !important; }

.pink.accent-3 {
    background-color: #f50057 !important; }

.pink.accent-4 {
    background-color: #c51162 !important; }

.purple.lighten-5 {
    background-color: #f3e5f5 !important; }

.purple.lighten-4 {
    background-color: #e1bee7 !important; }

.purple.lighten-3 {
    background-color: #ce93d8 !important; }

.purple.lighten-2 {
    background-color: #ba68c8 !important; }

.purple.lighten-1 {
    background-color: #ab47bc !important; }

.purple {
    background-color: #9c27b0 !important; }

.purple-text {
    color: #9c27b0 !important; }

.purple.darken-1 {
    background-color: #8e24aa !important; }

.purple.darken-2 {
    background-color: #7b1fa2 !important; }

.purple.darken-3 {
    background-color: #6a1b9a !important; }

.purple.darken-4 {
    background-color: #4a148c !important; }

.purple.accent-1 {
    background-color: #ea80fc !important; }

.purple.accent-2 {
    background-color: #e040fb !important; }

.purple.accent-3 {
    background-color: #d500f9 !important; }

.purple.accent-4 {
    background-color: #aa00ff !important; }

.deep-purple.lighten-5 {
    background-color: #ede7f6 !important; }

.deep-purple.lighten-4 {
    background-color: #d1c4e9 !important; }

.deep-purple.lighten-3 {
    background-color: #b39ddb !important; }

.deep-purple.lighten-2 {
    background-color: #9575cd !important; }

.deep-purple.lighten-1 {
    background-color: #7e57c2 !important; }

.deep-purple {
    background-color: #673ab7 !important; }

.deep-purple-text {
    color: #673ab7 !important; }

.deep-purple.darken-1 {
    background-color: #5e35b1 !important; }

.deep-purple.darken-2 {
    background-color: #512da8 !important; }

.deep-purple.darken-3 {
    background-color: #4527a0 !important; }

.deep-purple.darken-4 {
    background-color: #311b92 !important; }

.deep-purple.accent-1 {
    background-color: #b388ff !important; }

.deep-purple.accent-2 {
    background-color: #7c4dff !important; }

.deep-purple.accent-3 {
    background-color: #651fff !important; }

.deep-purple.accent-4 {
    background-color: #6200ea !important; }

.indigo.lighten-5 {
    background-color: #e8eaf6 !important; }

.indigo.lighten-4 {
    background-color: #c5cae9 !important; }

.indigo.lighten-3 {
    background-color: #9fa8da !important; }

.indigo.lighten-2 {
    background-color: #7986cb !important; }

.indigo.lighten-1 {
    background-color: #5c6bc0 !important; }

.indigo {
    background-color: #3f51b5 !important; }

.indigo-text {
    color: #3f51b5 !important; }

.indigo.darken-1 {
    background-color: #3949ab !important; }

.indigo.darken-2 {
    background-color: #303f9f !important; }

.indigo.darken-3 {
    background-color: #283593 !important; }

.indigo.darken-4 {
    background-color: #1a237e !important; }

.indigo.accent-1 {
    background-color: #8c9eff !important; }

.indigo.accent-2 {
    background-color: #536dfe !important; }

.indigo.accent-3 {
    background-color: #3d5afe !important; }

.indigo.accent-4 {
    background-color: #304ffe !important; }

.blue.lighten-5 {
    background-color: #E3F2FD !important; }

.blue.lighten-4 {
    background-color: #BBDEFB !important; }

.blue.lighten-3 {
    background-color: #90CAF9 !important; }

.blue.lighten-2 {
    background-color: #64B5F6 !important; }

.blue.lighten-1 {
    background-color: #42A5F5 !important; }

.blue {
    background-color: #2196F3 !important; }

.blue-text {
    color: #2196F3 !important; }

.blue.darken-1 {
    background-color: #1E88E5 !important; }

.blue.darken-2 {
    background-color: #1976D2 !important; }

.blue.darken-3 {
    background-color: #1565C0 !important; }

.blue.darken-4 {
    background-color: #0D47A1 !important; }

.blue.accent-1 {
    background-color: #82B1FF !important; }

.blue.accent-2 {
    background-color: #448AFF !important; }

.blue.accent-3 {
    background-color: #2979FF !important; }

.blue.accent-4 {
    background-color: #2962FF !important; }

.light-blue.lighten-5 {
    background-color: #e1f5fe !important; }

.light-blue.lighten-4 {
    background-color: #b3e5fc !important; }

.light-blue.lighten-3 {
    background-color: #81d4fa !important; }

.light-blue.lighten-2 {
    background-color: #4fc3f7 !important; }

.light-blue.lighten-1 {
    background-color: #29b6f6 !important; }

.light-blue {
    background-color: #03a9f4 !important; }

.light-blue-text {
    color: #03a9f4 !important; }

.light-blue.darken-1 {
    background-color: #039be5 !important; }

.light-blue.darken-2 {
    background-color: #0288d1 !important; }

.light-blue.darken-3 {
    background-color: #0277bd !important; }

.light-blue.darken-4 {
    background-color: #01579b !important; }

.light-blue.accent-1 {
    background-color: #80d8ff !important; }

.light-blue.accent-2 {
    background-color: #40c4ff !important; }

.light-blue.accent-3 {
    background-color: #00b0ff !important; }

.light-blue.accent-4 {
    background-color: #0091ea !important; }

.cyan.lighten-5 {
    background-color: #e0f7fa !important; }

.cyan.lighten-4 {
    background-color: #b2ebf2 !important; }

.cyan.lighten-3 {
    background-color: #80deea !important; }

.cyan.lighten-2 {
    background-color: #4dd0e1 !important; }

.cyan.lighten-1 {
    background-color: #26c6da !important; }

.cyan {
    background-color: #00bcd4 !important; }

.cyan-text {
    color: #00bcd4 !important; }

.cyan.darken-1 {
    background-color: #00acc1 !important; }

.cyan.darken-2 {
    background-color: #0097a7 !important; }

.cyan.darken-3 {
    background-color: #00838f !important; }

.cyan.darken-4 {
    background-color: #006064 !important; }

.cyan.accent-1 {
    background-color: #84ffff !important; }

.cyan.accent-2 {
    background-color: #18ffff !important; }

.cyan.accent-3 {
    background-color: #00e5ff !important; }

.cyan.accent-4 {
    background-color: #00b8d4 !important; }

.teal.lighten-5 {
    background-color: #e0f2f1 !important; }

.teal.lighten-4 {
    background-color: #b2dfdb !important; }

.teal.lighten-3 {
    background-color: #80cbc4 !important; }

.teal.lighten-2 {
    background-color: #4db6ac !important; }

.teal.lighten-1 {
    background-color: #26a69a !important; }

.teal {
    background-color: #009688 !important; }

.teal-text {
    color: #009688 !important; }

.teal.darken-1 {
    background-color: #00897b !important; }

.teal.darken-2 {
    background-color: #00796b !important; }

.teal.darken-3 {
    background-color: #00695c !important; }

.teal.darken-4 {
    background-color: #004d40 !important; }

.teal.accent-1 {
    background-color: #a7ffeb !important; }

.teal.accent-2 {
    background-color: #64ffda !important; }

.teal.accent-3 {
    background-color: #1de9b6 !important; }

.teal.accent-4 {
    background-color: #00bfa5 !important; }

.green.lighten-5 {
    background-color: #E8F5E9 !important; }

.green.lighten-4 {
    background-color: #C8E6C9 !important; }

.green.lighten-3 {
    background-color: #A5D6A7 !important; }

.green.lighten-2 {
    background-color: #81C784 !important; }

.green.lighten-1 {
    background-color: #66BB6A !important; }

.green {
    background-color: #4CAF50 !important; }

.green-text {
    color: #4CAF50 !important; }

.green.darken-1 {
    background-color: #43A047 !important; }

.green.darken-2 {
    background-color: #388E3C !important; }

.green.darken-3 {
    background-color: #2E7D32 !important; }

.green.darken-4 {
    background-color: #1B5E20 !important; }

.green.accent-1 {
    background-color: #B9F6CA !important; }

.green.accent-2 {
    background-color: #69F0AE !important; }

.green.accent-3 {
    background-color: #00E676 !important; }

.green.accent-4 {
    background-color: #00C853 !important; }

.light-green.lighten-5 {
    background-color: #f1f8e9 !important; }

.light-green.lighten-4 {
    background-color: #dcedc8 !important; }

.light-green.lighten-3 {
    background-color: #c5e1a5 !important; }

.light-green.lighten-2 {
    background-color: #aed581 !important; }

.light-green.lighten-1 {
    background-color: #9ccc65 !important; }

.light-green {
    background-color: #8bc34a !important; }

.light-green-text {
    color: #8bc34a !important; }

.light-green.darken-1 {
    background-color: #7cb342 !important; }

.light-green.darken-2 {
    background-color: #689f38 !important; }

.light-green.darken-3 {
    background-color: #558b2f !important; }

.light-green.darken-4 {
    background-color: #33691e !important; }

.light-green.accent-1 {
    background-color: #ccff90 !important; }

.light-green.accent-2 {
    background-color: #b2ff59 !important; }

.light-green.accent-3 {
    background-color: #76ff03 !important; }

.light-green.accent-4 {
    background-color: #64dd17 !important; }

.lime.lighten-5 {
    background-color: #f9fbe7 !important; }

.lime.lighten-4 {
    background-color: #f0f4c3 !important; }

.lime.lighten-3 {
    background-color: #e6ee9c !important; }

.lime.lighten-2 {
    background-color: #dce775 !important; }

.lime.lighten-1 {
    background-color: #d4e157 !important; }

.lime {
    background-color: #cddc39 !important; }

.lime-text {
    color: #cddc39 !important; }

.lime.darken-1 {
    background-color: #c0ca33 !important; }

.lime.darken-2 {
    background-color: #afb42b !important; }

.lime.darken-3 {
    background-color: #9e9d24 !important; }

.lime.darken-4 {
    background-color: #827717 !important; }

.lime.accent-1 {
    background-color: #f4ff81 !important; }

.lime.accent-2 {
    background-color: #eeff41 !important; }

.lime.accent-3 {
    background-color: #c6ff00 !important; }

.lime.accent-4 {
    background-color: #aeea00 !important; }

.yellow.lighten-5 {
    background-color: #fffde7 !important; }

.yellow.lighten-4 {
    background-color: #fff9c4 !important; }

.yellow.lighten-3 {
    background-color: #fff59d !important; }

.yellow.lighten-2 {
    background-color: #fff176 !important; }

.yellow.lighten-1 {
    background-color: #ffee58 !important; }

.yellow {
    background-color: #ffeb3b !important; }

.yellow-text {
    color: #ffeb3b !important; }

.yellow.darken-1 {
    background-color: #fdd835 !important; }

.yellow.darken-2 {
    background-color: #fbc02d !important; }

.yellow.darken-3 {
    background-color: #f9a825 !important; }

.yellow.darken-4 {
    background-color: #f57f17 !important; }

.yellow.accent-1 {
    background-color: #ffff8d !important; }

.yellow.accent-2 {
    background-color: #ffff00 !important; }

.yellow.accent-3 {
    background-color: #ffea00 !important; }

.yellow.accent-4 {
    background-color: #ffd600 !important; }

.amber.lighten-5 {
    background-color: #fff8e1 !important; }

.amber.lighten-4 {
    background-color: #ffecb3 !important; }

.amber.lighten-3 {
    background-color: #ffe082 !important; }

.amber.lighten-2 {
    background-color: #ffd54f !important; }

.amber.lighten-1 {
    background-color: #ffca28 !important; }

.amber {
    background-color: #ffc107 !important; }

.amber-text {
    color: #ffc107 !important; }

.amber.darken-1 {
    background-color: #ffb300 !important; }

.amber.darken-2 {
    background-color: #ffa000 !important; }

.amber.darken-3 {
    background-color: #ff8f00 !important; }

.amber.darken-4 {
    background-color: #ff6f00 !important; }

.amber.accent-1 {
    background-color: #ffe57f !important; }

.amber.accent-2 {
    background-color: #ffd740 !important; }

.amber.accent-3 {
    background-color: #ffc400 !important; }

.amber.accent-4 {
    background-color: #ffab00 !important; }

.orange.lighten-5 {
    background-color: #fff3e0 !important; }

.orange.lighten-4 {
    background-color: #ffe0b2 !important; }

.orange.lighten-3 {
    background-color: #ffcc80 !important; }

.orange.lighten-2 {
    background-color: #ffb74d !important; }

.orange.lighten-1 {
    background-color: #ffa726 !important; }

.orange {
    background-color: #ff9800 !important; }

.orange-text {
    color: #ff9800 !important; }

.orange.darken-1 {
    background-color: #fb8c00 !important; }

.orange.darken-2 {
    background-color: #f57c00 !important; }

.orange.darken-3 {
    background-color: #ef6c00 !important; }

.orange.darken-4 {
    background-color: #e65100 !important; }

.orange.accent-1 {
    background-color: #ffd180 !important; }

.orange.accent-2 {
    background-color: #ffab40 !important; }

.orange.accent-3 {
    background-color: #ff9100 !important; }

.orange.accent-4 {
    background-color: #ff6d00 !important; }

.deep-orange.lighten-5 {
    background-color: #fbe9e7 !important; }

.deep-orange.lighten-4 {
    background-color: #ffccbc !important; }

.deep-orange.lighten-3 {
    background-color: #ffab91 !important; }

.deep-orange.lighten-2 {
    background-color: #ff8a65 !important; }

.deep-orange.lighten-1 {
    background-color: #ff7043 !important; }

.deep-orange {
    background-color: #ff5722 !important; }

.deep-orange-text {
    color: #ff5722 !important; }

.deep-orange.darken-1 {
    background-color: #f4511e !important; }

.deep-orange.darken-2 {
    background-color: #e64a19 !important; }

.deep-orange.darken-3 {
    background-color: #d84315 !important; }

.deep-orange.darken-4 {
    background-color: #bf360c !important; }

.deep-orange.accent-1 {
    background-color: #ff9e80 !important; }

.deep-orange.accent-2 {
    background-color: #ff6e40 !important; }

.deep-orange.accent-3 {
    background-color: #ff3d00 !important; }

.deep-orange.accent-4 {
    background-color: #dd2c00 !important; }

.brown.lighten-5 {
    background-color: #efebe9 !important; }

.brown.lighten-4 {
    background-color: #d7ccc8 !important; }

.brown.lighten-3 {
    background-color: #bcaaa4 !important; }

.brown.lighten-2 {
    background-color: #a1887f !important; }

.brown.lighten-1 {
    background-color: #8d6e63 !important; }

.brown {
    background-color: #795548 !important; }

.brown-text {
    color: #795548 !important; }

.brown.darken-1 {
    background-color: #6d4c41 !important; }

.brown.darken-2 {
    background-color: #5d4037 !important; }

.brown.darken-3 {
    background-color: #4e342e !important; }

.brown.darken-4 {
    background-color: #3e2723 !important; }

.blue-grey.lighten-5 {
    background-color: #eceff1 !important; }

.blue-grey.lighten-4 {
    background-color: #cfd8dc !important; }

.blue-grey.lighten-3 {
    background-color: #b0bec5 !important; }

.blue-grey.lighten-2 {
    background-color: #90a4ae !important; }

.blue-grey.lighten-1 {
    background-color: #78909c !important; }

.blue-grey {
    background-color: #607d8b !important; }

.blue-grey-text {
    color: #607d8b !important; }

.blue-grey.darken-1 {
    background-color: #546e7a !important; }

.blue-grey.darken-2 {
    background-color: #455a64 !important; }

.blue-grey.darken-3 {
    background-color: #37474f !important; }

.blue-grey.darken-4 {
    background-color: #263238 !important; }

.grey.lighten-5 {
    background-color: #fafafa !important; }

.grey.lighten-4 {
    background-color: #f5f5f5 !important; }

.grey.lighten-3 {
    background-color: #eeeeee !important; }

.grey.lighten-2 {
    background-color: #e0e0e0 !important; }

.grey.lighten-1 {
    background-color: #bdbdbd !important; }

.grey {
    background-color: #9e9e9e !important; }

.grey-text {
    color: #9e9e9e !important; }

.grey.darken-1 {
    background-color: #757575 !important; }

.grey.darken-2 {
    background-color: #616161 !important; }

.grey.darken-3 {
    background-color: #424242 !important; }

.grey.darken-4 {
    background-color: #212121 !important; }

.shades.black {
    background-color: #000000 !important; }

.shades.white {
    background-color: #FFFFFF !important; }

.shades.transparent {
    background-color: transparent !important; }

.black {
    background-color: #000000 !important; }

.black-text, .btn-link {
    color: #000000 !important; }

.white {
    background-color: #FFFFFF !important; }

.white-text, .btn {
    color: #FFFFFF !important; }

.transparent {
    background-color: transparent !important; }

.transparent-text {
    color: transparent !important; }

.light-blue-text {
    color: #82B1FF !important; }

.dark-grey-text {
    color: #4f4f4f !important; }

.danger-color {
    background-color: #ff3547 !important; }

.danger-color-dark {
    background-color: #CC0000 !important; }

.warning-color {
    background-color: #ffbb33 !important; }

.warning-color-dark {
    background-color: #FF8800 !important; }

.success-color {
    background-color: #00C851 !important; }

.success-color-dark {
    background-color: #007E33 !important; }

.info-color {
    background-color: #33b5e5 !important; }

.info-color-dark {
    background-color: #0099CC !important; }

.default-color {
    background-color: #2BBBAD !important; }

.default-color-dark {
    background-color: #00695c !important; }

.primary-color {
    background-color: #4285F4 !important; }

.primary-color-dark {
    background-color: #0d47a1 !important; }

.secondary-color {
    background-color: #aa66cc !important; }

.secondary-color-dark {
    background-color: #9933CC !important; }

.elegant-color {
    background-color: #2E2E2E !important; }

.elegant-color-dark {
    background-color: #212121 !important; }

.stylish-color {
    background-color: #4B515D !important; }

.stylish-color-dark {
    background-color: #3E4551 !important; }

.special-color {
    background-color: #37474F !important; }

.special-color-dark {
    background-color: #263238 !important; }

.unique-color {
    background-color: #3F729B !important; }

.unique-color-dark {
    background-color: #1C2331 !important; }

.mdb-color {
    background-color: #45526E !important; }

.rgba-blue-light {
    background-color: rgba(3, 169, 244, 0.3) !important; }

.rgba-red-light {
    background-color: rgba(244, 67, 54, 0.3) !important; }

.rgba-pink-light {
    background-color: rgba(233, 30, 99, 0.3) !important; }

.rgba-purple-light {
    background-color: rgba(156, 39, 176, 0.3) !important; }

.rgba-indigo-light {
    background-color: rgba(63, 81, 181, 0.3) !important; }

.rgba-cyan-light {
    background-color: rgba(0, 188, 212, 0.3) !important; }

.rgba-teal-light {
    background-color: rgba(0, 150, 136, 0.3) !important; }

.rgba-green-light {
    background-color: rgba(76, 175, 80, 0.3) !important; }

.rgba-lime-light {
    background-color: rgba(205, 220, 57, 0.3) !important; }

.rgba-yellow-light {
    background-color: rgba(255, 235, 59, 0.3) !important; }

.rgba-orange-light {
    background-color: rgba(255, 152, 0, 0.3) !important; }

.rgba-brown-light {
    background-color: rgba(121, 85, 72, 0.3) !important; }

.rgba-grey-light {
    background-color: rgba(158, 158, 158, 0.3) !important; }

.rgba-bluegrey-light {
    background-color: rgba(96, 125, 139, 0.3) !important; }

.rgba-black-light {
    background-color: rgba(0, 0, 0, 0.3) !important; }

.rgba-stylish-light {
    background-color: rgba(62, 69, 81, 0.3) !important; }

.rgba-white-light {
    background-color: rgba(255, 255, 255, 0.3) !important; }

.rgba-blue-strong {
    background-color: rgba(3, 169, 244, 0.7) !important; }

.rgba-red-strong {
    background-color: rgba(244, 67, 54, 0.7) !important; }

.rgba-pink-strong {
    background-color: rgba(233, 30, 99, 0.7) !important; }

.rgba-purple-strong {
    background-color: rgba(156, 39, 176, 0.7) !important; }

.rgba-indigo-strong {
    background-color: rgba(63, 81, 181, 0.7) !important; }

.rgba-cyan-strong {
    background-color: rgba(0, 188, 212, 0.7) !important; }

.rgba-teal-strong {
    background-color: rgba(0, 150, 136, 0.7) !important; }

.rgba-green-strong {
    background-color: rgba(76, 175, 80, 0.7) !important; }

.rgba-lime-strong {
    background-color: rgba(205, 220, 57, 0.7) !important; }

.rgba-yellow-strong {
    background-color: rgba(255, 235, 59, 0.7) !important; }

.rgba-orange-strong {
    background-color: rgba(255, 152, 0, 0.7) !important; }

.rgba-brown-strong {
    background-color: rgba(121, 85, 72, 0.7) !important; }

.rgba-grey-strong {
    background-color: rgba(158, 158, 158, 0.7) !important; }

.rgba-bluegrey-strong {
    background-color: rgba(96, 125, 139, 0.7) !important; }

.rgba-black-strong {
    background-color: rgba(0, 0, 0, 0.7) !important; }

.rgba-stylish-strong {
    background-color: rgba(62, 69, 81, 0.7) !important; }

.rgba-white-strong {
    background-color: rgba(255, 255, 255, 0.7) !important; }

.rgba-blue-slight {
    background-color: rgba(3, 169, 244, 0.1) !important; }

.rgba-red-slight {
    background-color: rgba(244, 67, 54, 0.1) !important; }

.rgba-pink-slight {
    background-color: rgba(233, 30, 99, 0.1) !important; }

.rgba-purple-slight {
    background-color: rgba(156, 39, 176, 0.1) !important; }

.rgba-indigo-slight {
    background-color: rgba(63, 81, 181, 0.1) !important; }

.rgba-cyan-slight {
    background-color: rgba(0, 188, 212, 0.1) !important; }

.rgba-teal-slight {
    background-color: rgba(0, 150, 136, 0.1) !important; }

.rgba-green-slight {
    background-color: rgba(76, 175, 80, 0.1) !important; }

.rgba-lime-slight {
    background-color: rgba(205, 220, 57, 0.1) !important; }

.rgba-yellow-slight {
    background-color: rgba(255, 235, 59, 0.1) !important; }

.rgba-orange-slight {
    background-color: rgba(255, 152, 0, 0.1) !important; }

.rgba-brown-slight {
    background-color: rgba(121, 85, 72, 0.1) !important; }

.rgba-grey-slight {
    background-color: rgba(158, 158, 158, 0.1) !important; }

.rgba-bluegrey-slight {
    background-color: rgba(96, 125, 139, 0.1) !important; }

.rgba-black-slight {
    background-color: rgba(0, 0, 0, 0.1) !important; }

.rgba-stylish-slight {
    background-color: rgba(62, 69, 81, 0.1) !important; }

.rgba-white-slight {
    background-color: rgba(255, 255, 255, 0.1) !important; }

.bg-primary {
    background-color: #4285F4 !important; }

.bg-danger {
    background-color: #ff3547 !important; }

.bg-warning {
    background-color: #FF8800 !important; }

.bg-success {
    background-color: #00C851 !important; }

.bg-info {
    background-color: #33b5e5 !important; }

.bg-default {
    background-color: #2BBBAD !important; }

.bg-secondary {
    background-color: #aa66cc !important; }

.bg-elegant {
    background-color: #2E2E2E !important; }

.bg-unique {
    background-color: #880e4f !important; }

.bg-dark-green {
    background-color: #388E3C !important; }

.bg-mdb-color {
    background-color: #59698D !important; }

.bg-red {
    background-color: #D32F2F !important; }

.bg-pink {
    background-color: #ec407a !important; }

.bg-purple {
    background-color: #8e24aa !important; }

.bg-deep-purple {
    background-color: #512da8 !important; }

.bg-indigo {
    background-color: #3f51b5 !important; }

.bg-blue {
    background-color: #1976D2 !important; }

.bg-light-blue {
    background-color: #82B1FF !important; }

.bg-cyan {
    background-color: #00bcd4 !important; }

.bg-teal {
    background-color: #00796b !important; }

.bg-green {
    background-color: #388E3C !important; }

.bg-light-green {
    background-color: #8bc34a !important; }

.bg-lime {
    background-color: #afb42b !important; }

.bg-yellow {
    background-color: #fbc02d !important; }

.bg-amber {
    background-color: #ffa000 !important; }

.bg-orange {
    background-color: #f57c00 !important; }

.bg-deep-orange {
    background-color: #ff7043 !important; }

.bg-brown {
    background-color: #795548 !important; }

.bg-grey {
    background-color: #616161 !important; }

.bg-blue-grey {
    background-color: #78909c !important; }

.bg-white {
    background-color: #fff !important; }

.bg-black {
    background-color: #000 !important; }

/**
 * BUTTONS
 */

.btn-primary {
    background-color: #4285F4; }
.btn-primary:hover {
    background-color: #5a95f5 !important; }
.btn-primary:focus, .btn-primary:active, .btn-primary.active {
    background-color: #0d5bdd !important; }
.btn-primary.dropdown-toggle {
    background-color: #4285F4 !important; }
.btn-primary.dropdown-toggle:hover, .btn-primary.dropdown-toggle:focus {
    background-color: #5a95f5 !important; }

.btn-outline-primary {
    border: 2px solid #4285F4;
    color: #4285F4 !important;
    background-color: transparent; }
.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary:active:focus, .btn-outline-primary.active {
    background-color: transparent;
    color: #4285F4;
    border-color: #4285F4; }

.btn-danger {
    background-color: #ff3547; }
.btn-danger:hover {
    background-color: #ff4f5e !important; }
.btn-danger:focus, .btn-danger:active, .btn-danger.active {
    background-color: #e80015 !important; }
.btn-danger.dropdown-toggle {
    background-color: #ff3547 !important; }
.btn-danger.dropdown-toggle:hover, .btn-danger.dropdown-toggle:focus {
    background-color: #ff4f5e !important; }

.btn-outline-danger {
    border: 2px solid #ff3547;
    color: #ff3547 !important;
    background-color: transparent; }
.btn-outline-danger:hover, .btn-outline-danger:focus, .btn-outline-danger:active, .btn-outline-danger:active:focus, .btn-outline-danger.active {
    background-color: transparent;
    color: #ff3547;
    border-color: #ff3547; }

.btn-warning {
    background-color: #FF8800; }
.btn-warning:hover {
    background-color: #ff941a !important; }
.btn-warning:focus, .btn-warning:active, .btn-warning.active {
    background-color: #b35f00 !important; }
.btn-warning.dropdown-toggle {
    background-color: #FF8800 !important; }
.btn-warning.dropdown-toggle:hover, .btn-warning.dropdown-toggle:focus {
    background-color: #ff941a !important; }

.btn-outline-warning {
    border: 2px solid #FF8800;
    color: #FF8800 !important;
    background-color: transparent; }
.btn-outline-warning:hover, .btn-outline-warning:focus, .btn-outline-warning:active, .btn-outline-warning:active:focus, .btn-outline-warning.active {
    background-color: transparent;
    color: #FF8800;
    border-color: #FF8800; }

.btn-success {
    background-color: #00C851; }
.btn-success:hover {
    background-color: #00e25b !important; }
.btn-success:focus, .btn-success:active, .btn-success.active {
    background-color: #007c32 !important; }
.btn-success.dropdown-toggle {
    background-color: #00C851 !important; }
.btn-success.dropdown-toggle:hover, .btn-success.dropdown-toggle:focus {
    background-color: #00e25b !important; }

.btn-outline-success {
    border: 2px solid #00C851;
    color: #00C851 !important;
    background-color: transparent; }
.btn-outline-success:hover, .btn-outline-success:focus, .btn-outline-success:active, .btn-outline-success:active:focus, .btn-outline-success.active {
    background-color: transparent;
    color: #00C851;
    border-color: #00C851; }

.btn-info {
    background-color: #33b5e5; }
.btn-info:hover {
    background-color: #4abde8 !important; }
.btn-info:focus, .btn-info:active, .btn-info.active {
    background-color: #178ab4 !important; }
.btn-info.dropdown-toggle {
    background-color: #33b5e5 !important; }
.btn-info.dropdown-toggle:hover, .btn-info.dropdown-toggle:focus {
    background-color: #4abde8 !important; }

.btn-outline-info {
    border: 2px solid #33b5e5;
    color: #33b5e5 !important;
    background-color: transparent; }
.btn-outline-info:hover, .btn-outline-info:focus, .btn-outline-info:active, .btn-outline-info:active:focus, .btn-outline-info.active {
    background-color: transparent;
    color: #33b5e5;
    border-color: #33b5e5; }

.btn-default {
    background-color: #2BBBAD; }
.btn-default:hover {
    background-color: #30cfc0 !important; }
.btn-default:focus, .btn-default:active, .btn-default.active {
    background-color: #1d7d73 !important; }
.btn-default.dropdown-toggle {
    background-color: #2BBBAD !important; }
.btn-default.dropdown-toggle:hover, .btn-default.dropdown-toggle:focus {
    background-color: #30cfc0 !important; }

.btn-outline-default {
    border: 2px solid #2BBBAD;
    color: #2BBBAD !important;
    background-color: transparent; }
.btn-outline-default:hover, .btn-outline-default:focus, .btn-outline-default:active, .btn-outline-default:active:focus, .btn-outline-default.active {
    background-color: transparent;
    color: #2BBBAD;
    border-color: #2BBBAD; }

.btn-secondary {
    background-color: #aa66cc; }
.btn-secondary:hover {
    background-color: #b579d2 !important; }
.btn-secondary:focus, .btn-secondary:active, .btn-secondary.active {
    background-color: #8639ac !important; }
.btn-secondary.dropdown-toggle {
    background-color: #aa66cc !important; }
.btn-secondary.dropdown-toggle:hover, .btn-secondary.dropdown-toggle:focus {
    background-color: #b579d2 !important; }

.btn-outline-secondary {
    border: 2px solid #aa66cc;
    color: #aa66cc !important;
    background-color: transparent; }
.btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary:active, .btn-outline-secondary:active:focus, .btn-outline-secondary.active {
    background-color: transparent;
    color: #aa66cc;
    border-color: #aa66cc; }

.btn-elegant {
    background-color: #2E2E2E; }
.btn-elegant:hover {
    background-color: #3b3b3b !important; }
.btn-elegant:focus, .btn-elegant:active, .btn-elegant.active {
    background-color: #080808 !important; }
.btn-elegant.dropdown-toggle {
    background-color: #2E2E2E !important; }
.btn-elegant.dropdown-toggle:hover, .btn-elegant.dropdown-toggle:focus {
    background-color: #3b3b3b !important; }

.btn-outline-elegant {
    border: 2px solid #2E2E2E;
    color: #2E2E2E !important;
    background-color: transparent; }
.btn-outline-elegant:hover, .btn-outline-elegant:focus, .btn-outline-elegant:active, .btn-outline-elegant:active:focus, .btn-outline-elegant.active {
    background-color: transparent;
    color: #2E2E2E;
    border-color: #2E2E2E; }

.btn-unique {
    background-color: #880e4f; }
.btn-unique:hover {
    background-color: #9f105c !important; }
.btn-unique:focus, .btn-unique:active, .btn-unique.active {
    background-color: #430727 !important; }
.btn-unique.dropdown-toggle {
    background-color: #880e4f !important; }
.btn-unique.dropdown-toggle:hover, .btn-unique.dropdown-toggle:focus {
    background-color: #9f105c !important; }

.btn-outline-unique {
    border: 2px solid #880e4f;
    color: #880e4f !important;
    background-color: transparent; }
.btn-outline-unique:hover, .btn-outline-unique:focus, .btn-outline-unique:active, .btn-outline-unique:active:focus, .btn-outline-unique.active {
    background-color: transparent;
    color: #880e4f;
    border-color: #880e4f; }

.btn-dark-green {
    background-color: #388E3C; }
.btn-dark-green:hover {
    background-color: #3fa044 !important; }
.btn-dark-green:focus, .btn-dark-green:active, .btn-dark-green.active {
    background-color: #225725 !important; }
.btn-dark-green.dropdown-toggle {
    background-color: #388E3C !important; }
.btn-dark-green.dropdown-toggle:hover, .btn-dark-green.dropdown-toggle:focus {
    background-color: #3fa044 !important; }

.btn-outline-dark-green {
    border: 2px solid #388E3C;
    color: #388E3C !important;
    background-color: transparent; }
.btn-outline-dark-green:hover, .btn-outline-dark-green:focus, .btn-outline-dark-green:active, .btn-outline-dark-green:active:focus, .btn-outline-dark-green.active {
    background-color: transparent;
    color: #388E3C;
    border-color: #388E3C; }

.btn-color {
    background-color: #59698D; }
.btn-color:hover {
    background-color: #63759d !important; }
.btn-color:focus, .btn-color:active, .btn-active {
    background-color: #3b465e !important; }
.btn-dropdown-toggle {
    background-color: #59698D !important; }
.btn-dropdown-toggle:hover, .btn-dropdown-toggle:focus {
    background-color: #63759d !important; }

.btn-outline-color {
    border: 2px solid #59698D;
    color: #59698D !important;
    background-color: transparent; }
.btn-outline-color:hover, .btn-outline-color:focus, .btn-outline-color:active, .btn-outline-color:active:focus, .btn-outline-active {
    background-color: transparent;
    color: #59698D;
    border-color: #59698D; }

.btn-red {
    background-color: #D32F2F; }
.btn-red:hover {
    background-color: #d74444 !important; }
.btn-red:focus, .btn-red:active, .btn-red.active {
    background-color: #962020 !important; }
.btn-red.dropdown-toggle {
    background-color: #D32F2F !important; }
.btn-red.dropdown-toggle:hover, .btn-red.dropdown-toggle:focus {
    background-color: #d74444 !important; }

.btn-outline-red {
    border: 2px solid #D32F2F;
    color: #D32F2F !important;
    background-color: transparent; }
.btn-outline-red:hover, .btn-outline-red:focus, .btn-outline-red:active, .btn-outline-red:active:focus, .btn-outline-red.active {
    background-color: transparent;
    color: #D32F2F;
    border-color: #D32F2F; }

.btn-pink {
    background-color: #ec407a; }
.btn-pink:hover {
    background-color: #ee578a !important; }
.btn-pink:focus, .btn-pink:active, .btn-pink.active {
    background-color: #cb1452 !important; }
.btn-pink.dropdown-toggle {
    background-color: #ec407a !important; }
.btn-pink.dropdown-toggle:hover, .btn-pink.dropdown-toggle:focus {
    background-color: #ee578a !important; }

.btn-outline-pink {
    border: 2px solid #ec407a;
    color: #ec407a !important;
    background-color: transparent; }
.btn-outline-pink:hover, .btn-outline-pink:focus, .btn-outline-pink:active, .btn-outline-pink:active:focus, .btn-outline-pink.active {
    background-color: transparent;
    color: #ec407a;
    border-color: #ec407a; }

.btn-purple {
    background-color: #8e24aa; }
.btn-purple:hover {
    background-color: #a028bf !important; }
.btn-purple:focus, .btn-purple:active, .btn-purple.active {
    background-color: #59176b !important; }
.btn-purple.dropdown-toggle {
    background-color: #8e24aa !important; }
.btn-purple.dropdown-toggle:hover, .btn-purple.dropdown-toggle:focus {
    background-color: #a028bf !important; }

.btn-outline-purple {
    border: 2px solid #8e24aa;
    color: #8e24aa !important;
    background-color: transparent; }
.btn-outline-purple:hover, .btn-outline-purple:focus, .btn-outline-purple:active, .btn-outline-purple:active:focus, .btn-outline-purple.active {
    background-color: transparent;
    color: #8e24aa;
    border-color: #8e24aa; }

.btn-deep-purple {
    background-color: #512da8; }
.btn-deep-purple:hover {
    background-color: #5b32bc !important; }
.btn-deep-purple:focus, .btn-deep-purple:active, .btn-deep-purple.active {
    background-color: #341d6c !important; }
.btn-deep-purple.dropdown-toggle {
    background-color: #512da8 !important; }
.btn-deep-purple.dropdown-toggle:hover, .btn-deep-purple.dropdown-toggle:focus {
    background-color: #5b32bc !important; }

.btn-outline-deep-purple {
    border: 2px solid #512da8;
    color: #512da8 !important;
    background-color: transparent; }
.btn-outline-deep-purple:hover, .btn-outline-deep-purple:focus, .btn-outline-deep-purple:active, .btn-outline-deep-purple:active:focus, .btn-outline-deep-purple.active {
    background-color: transparent;
    color: #512da8;
    border-color: #512da8; }

.btn-indigo {
    background-color: #3f51b5; }
.btn-indigo:hover {
    background-color: #4d5ec1 !important; }
.btn-indigo:focus, .btn-indigo:active, .btn-indigo.active {
    background-color: #2b387c !important; }
.btn-indigo.dropdown-toggle {
    background-color: #3f51b5 !important; }
.btn-indigo.dropdown-toggle:hover, .btn-indigo.dropdown-toggle:focus {
    background-color: #4d5ec1 !important; }

.btn-outline-indigo {
    border: 2px solid #3f51b5;
    color: #3f51b5 !important;
    background-color: transparent; }
.btn-outline-indigo:hover, .btn-outline-indigo:focus, .btn-outline-indigo:active, .btn-outline-indigo:active:focus, .btn-outline-indigo.active {
    background-color: transparent;
    color: #3f51b5;
    border-color: #3f51b5; }

.btn-blue {
    background-color: #1976D2; }
.btn-blue:hover {
    background-color: #2083e4 !important; }
.btn-blue:focus, .btn-blue:active, .btn-blue.active {
    background-color: #11508e !important; }
.btn-blue.dropdown-toggle {
    background-color: #1976D2 !important; }
.btn-blue.dropdown-toggle:hover, .btn-blue.dropdown-toggle:focus {
    background-color: #2083e4 !important; }

.btn-outline-blue {
    border: 2px solid #1976D2;
    color: #1976D2 !important;
    background-color: transparent; }
.btn-outline-blue:hover, .btn-outline-blue:focus, .btn-outline-blue:active, .btn-outline-blue:active:focus, .btn-outline-blue.active {
    background-color: transparent;
    color: #1976D2;
    border-color: #1976D2; }

.btn-light-blue {
    background-color: #82B1FF; }
.btn-light-blue:hover {
    background-color: #9cc1ff !important; }
.btn-light-blue:focus, .btn-light-blue:active, .btn-light-blue.active {
    background-color: #3681ff !important; }
.btn-light-blue.dropdown-toggle {
    background-color: #82B1FF !important; }
.btn-light-blue.dropdown-toggle:hover, .btn-light-blue.dropdown-toggle:focus {
    background-color: #9cc1ff !important; }

.btn-outline-light-blue {
    border: 2px solid #82B1FF;
    color: #82B1FF !important;
    background-color: transparent; }
.btn-outline-light-blue:hover, .btn-outline-light-blue:focus, .btn-outline-light-blue:active, .btn-outline-light-blue:active:focus, .btn-outline-light-blue.active {
    background-color: transparent;
    color: #82B1FF;
    border-color: #82B1FF; }

.btn-cyan {
    background-color: #00bcd4; }
.btn-cyan:hover {
    background-color: #00d3ee !important; }
.btn-cyan:focus, .btn-cyan:active, .btn-cyan.active {
    background-color: #007888 !important; }
.btn-cyan.dropdown-toggle {
    background-color: #00bcd4 !important; }
.btn-cyan.dropdown-toggle:hover, .btn-cyan.dropdown-toggle:focus {
    background-color: #00d3ee !important; }

.btn-outline-cyan {
    border: 2px solid #00bcd4;
    color: #00bcd4 !important;
    background-color: transparent; }
.btn-outline-cyan:hover, .btn-outline-cyan:focus, .btn-outline-cyan:active, .btn-outline-cyan:active:focus, .btn-outline-cyan.active {
    background-color: transparent;
    color: #00bcd4;
    border-color: #00bcd4; }

.btn-teal {
    background-color: #00796b; }
.btn-teal:hover {
    background-color: #009382 !important; }
.btn-teal:focus, .btn-teal:active, .btn-teal.active {
    background-color: #002d27 !important; }
.btn-teal.dropdown-toggle {
    background-color: #00796b !important; }
.btn-teal.dropdown-toggle:hover, .btn-teal.dropdown-toggle:focus {
    background-color: #009382 !important; }

.btn-outline-teal {
    border: 2px solid #00796b;
    color: #00796b !important;
    background-color: transparent; }
.btn-outline-teal:hover, .btn-outline-teal:focus, .btn-outline-teal:active, .btn-outline-teal:active:focus, .btn-outline-teal.active {
    background-color: transparent;
    color: #00796b;
    border-color: #00796b; }

.btn-green {
    background-color: #388E3C; }
.btn-green:hover {
    background-color: #3fa044 !important; }
.btn-green:focus, .btn-green:active, .btn-green.active {
    background-color: #225725 !important; }
.btn-green.dropdown-toggle {
    background-color: #388E3C !important; }
.btn-green.dropdown-toggle:hover, .btn-green.dropdown-toggle:focus {
    background-color: #3fa044 !important; }

.btn-outline-green {
    border: 2px solid #388E3C;
    color: #388E3C !important;
    background-color: transparent; }
.btn-outline-green:hover, .btn-outline-green:focus, .btn-outline-green:active, .btn-outline-green:active:focus, .btn-outline-green.active {
    background-color: transparent;
    color: #388E3C;
    border-color: #388E3C; }

.btn-light-green {
    background-color: #8bc34a; }
.btn-light-green:hover {
    background-color: #97c95d !important; }
.btn-light-green:focus, .btn-light-green:active, .btn-light-green.active {
    background-color: #649130 !important; }
.btn-light-green.dropdown-toggle {
    background-color: #8bc34a !important; }
.btn-light-green.dropdown-toggle:hover, .btn-light-green.dropdown-toggle:focus {
    background-color: #97c95d !important; }

.btn-outline-light-green {
    border: 2px solid #8bc34a;
    color: #8bc34a !important;
    background-color: transparent; }
.btn-outline-light-green:hover, .btn-outline-light-green:focus, .btn-outline-light-green:active, .btn-outline-light-green:active:focus, .btn-outline-light-green.active {
    background-color: transparent;
    color: #8bc34a;
    border-color: #8bc34a; }

.btn-lime {
    background-color: #afb42b; }
.btn-lime:hover {
    background-color: #c3c930 !important; }
.btn-lime:focus, .btn-lime:active, .btn-lime.active {
    background-color: #73761c !important; }
.btn-lime.dropdown-toggle {
    background-color: #afb42b !important; }
.btn-lime.dropdown-toggle:hover, .btn-lime.dropdown-toggle:focus {
    background-color: #c3c930 !important; }

.btn-outline-lime {
    border: 2px solid #afb42b;
    color: #afb42b !important;
    background-color: transparent; }
.btn-outline-lime:hover, .btn-outline-lime:focus, .btn-outline-lime:active, .btn-outline-lime:active:focus, .btn-outline-lime.active {
    background-color: transparent;
    color: #afb42b;
    border-color: #afb42b; }

.btn-yellow {
    background-color: #fbc02d; }
.btn-yellow:hover {
    background-color: #fbc846 !important; }
.btn-yellow:focus, .btn-yellow:active, .btn-yellow.active {
    background-color: #d79b04 !important; }
.btn-yellow.dropdown-toggle {
    background-color: #fbc02d !important; }
.btn-yellow.dropdown-toggle:hover, .btn-yellow.dropdown-toggle:focus {
    background-color: #fbc846 !important; }

.btn-outline-yellow {
    border: 2px solid #fbc02d;
    color: #fbc02d !important;
    background-color: transparent; }
.btn-outline-yellow:hover, .btn-outline-yellow:focus, .btn-outline-yellow:active, .btn-outline-yellow:active:focus, .btn-outline-yellow.active {
    background-color: transparent;
    color: #fbc02d;
    border-color: #fbc02d; }

.btn-amber {
    background-color: #ffa000; }
.btn-amber:hover {
    background-color: #ffaa1a !important; }
.btn-amber:focus, .btn-amber:active, .btn-amber.active {
    background-color: #b37000 !important; }
.btn-amber.dropdown-toggle {
    background-color: #ffa000 !important; }
.btn-amber.dropdown-toggle:hover, .btn-amber.dropdown-toggle:focus {
    background-color: #ffaa1a !important; }

.btn-outline-amber {
    border: 2px solid #ffa000;
    color: #ffa000 !important;
    background-color: transparent; }
.btn-outline-amber:hover, .btn-outline-amber:focus, .btn-outline-amber:active, .btn-outline-amber:active:focus, .btn-outline-amber.active {
    background-color: transparent;
    color: #ffa000;
    border-color: #ffa000; }

.btn-orange {
    background-color: #f57c00; }
.btn-orange:hover {
    background-color: #ff8910 !important; }
.btn-orange:focus, .btn-orange:active, .btn-orange.active {
    background-color: #a95500 !important; }
.btn-orange.dropdown-toggle {
    background-color: #f57c00 !important; }
.btn-orange.dropdown-toggle:hover, .btn-orange.dropdown-toggle:focus {
    background-color: #ff8910 !important; }

.btn-outline-orange {
    border: 2px solid #f57c00;
    color: #f57c00 !important;
    background-color: transparent; }
.btn-outline-orange:hover, .btn-outline-orange:focus, .btn-outline-orange:active, .btn-outline-orange:active:focus, .btn-outline-orange.active {
    background-color: transparent;
    color: #f57c00;
    border-color: #f57c00; }

.btn-deep-orange {
    background-color: #ff7043; }
.btn-deep-orange:hover {
    background-color: #ff835d !important; }
.btn-deep-orange:focus, .btn-deep-orange:active, .btn-deep-orange.active {
    background-color: #f63b00 !important; }
.btn-deep-orange.dropdown-toggle {
    background-color: #ff7043 !important; }
.btn-deep-orange.dropdown-toggle:hover, .btn-deep-orange.dropdown-toggle:focus {
    background-color: #ff835d !important; }

.btn-outline-deep-orange {
    border: 2px solid #ff7043;
    color: #ff7043 !important;
    background-color: transparent; }
.btn-outline-deep-orange:hover, .btn-outline-deep-orange:focus, .btn-outline-deep-orange:active, .btn-outline-deep-orange:active:focus, .btn-outline-deep-orange.active {
    background-color: transparent;
    color: #ff7043;
    border-color: #ff7043; }

.btn-brown {
    background-color: #795548; }
.btn-brown:hover {
    background-color: #896052 !important; }
.btn-brown:focus, .btn-brown:active, .btn-brown.active {
    background-color: #49332b !important; }
.btn-brown.dropdown-toggle {
    background-color: #795548 !important; }
.btn-brown.dropdown-toggle:hover, .btn-brown.dropdown-toggle:focus {
    background-color: #896052 !important; }

.btn-outline-brown {
    border: 2px solid #795548;
    color: #795548 !important;
    background-color: transparent; }
.btn-outline-brown:hover, .btn-outline-brown:focus, .btn-outline-brown:active, .btn-outline-brown:active:focus, .btn-outline-brown.active {
    background-color: transparent;
    color: #795548;
    border-color: #795548; }

.btn-grey {
    background-color: #616161; }
.btn-grey:hover {
    background-color: #6e6e6e !important; }
.btn-grey:focus, .btn-grey:active, .btn-grey.active {
    background-color: #3b3b3b !important; }
.btn-grey.dropdown-toggle {
    background-color: #616161 !important; }
.btn-grey.dropdown-toggle:hover, .btn-grey.dropdown-toggle:focus {
    background-color: #6e6e6e !important; }

.btn-outline-grey {
    border: 2px solid #616161;
    color: #616161 !important;
    background-color: transparent; }
.btn-outline-grey:hover, .btn-outline-grey:focus, .btn-outline-grey:active, .btn-outline-grey:active:focus, .btn-outline-grey.active {
    background-color: transparent;
    color: #616161;
    border-color: #616161; }

.btn-blue-grey {
    background-color: #78909c; }
.btn-blue-grey:hover {
    background-color: #879ca7 !important; }
.btn-blue-grey:focus, .btn-blue-grey:active, .btn-blue-grey.active {
    background-color: #546973 !important; }
.btn-blue-grey.dropdown-toggle {
    background-color: #78909c !important; }
.btn-blue-grey.dropdown-toggle:hover, .btn-blue-grey.dropdown-toggle:focus {
    background-color: #879ca7 !important; }

.btn-outline-blue-grey {
    border: 2px solid #78909c;
    color: #78909c !important;
    background-color: transparent; }
.btn-outline-blue-grey:hover, .btn-outline-blue-grey:focus, .btn-outline-blue-grey:active, .btn-outline-blue-grey:active:focus, .btn-outline-blue-grey.active {
    background-color: transparent;
    color: #78909c;
    border-color: #78909c; }

.btn-white {
    background-color: #fff; }
.btn-white:hover {
    background-color: white !important; }
.btn-white:focus, .btn-white:active, .btn-white.active {
    background-color: #d9d9d9 !important; }
.btn-white.dropdown-toggle {
    background-color: #fff !important; }
.btn-white.dropdown-toggle:hover, .btn-white.dropdown-toggle:focus {
    background-color: white !important; }

.btn-outline-white {
    border: 2px solid #fff;
    color: #fff !important;
    background-color: transparent; }
.btn-outline-white:hover, .btn-outline-white:focus, .btn-outline-white:active, .btn-outline-white:active:focus, .btn-outline-white.active {
    background-color: transparent;
    color: #fff;
    border-color: #fff; }

.btn-black {
    background-color: #000; }
.btn-black:hover {
    background-color: #0d0d0d !important; }
.btn-black:focus, .btn-black:active, .btn-black.active {
    background-color: black !important; }
.btn-black.dropdown-toggle {
    background-color: #000 !important; }
.btn-black.dropdown-toggle:hover, .btn-black.dropdown-toggle:focus {
    background-color: #0d0d0d !important; }

.btn-outline-black {
    border: 2px solid #000;
    color: #000 !important;
    background-color: transparent; }
.btn-outline-black:hover, .btn-outline-black:focus, .btn-outline-black:active, .btn-outline-black:active:focus, .btn-outline-black.active {
    background-color: transparent;
    color: #000;
    border-color: #000; }