@font-face {
    font-family: 'Raleway-Bold'; /*a name to be used later*/
    src: url('../vendor/raleway/Raleway-Bold.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Raleway-ExtraBold'; /*a name to be used later*/
    src: url('../vendor/raleway/Raleway-ExtraBold.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Raleway-ExtraLight'; /*a name to be used later*/
    src: url('../vendor/raleway/Raleway-ExtraLight.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Raleway-Heavy'; /*a name to be used later*/
    src: url('../vendor/raleway/Raleway-Heavy.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Raleway-Light'; /*a name to be used later*/
    src: url('../vendor/raleway/Raleway-Light.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Raleway-Medium'; /*a name to be used later*/
    src: url('../vendor/raleway/Raleway-Medium.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Raleway-Regular'; /*a name to be used later*/
    src: url('../vendor/raleway/Raleway-Regular.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Raleway-SemiBold'; /*a name to be used later*/
    src: url('../vendor/raleway/Raleway-SemiBold.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Raleway-Thin'; /*a name to be used later*/
    src: url('../vendor/raleway/Raleway-Thin.ttf'); /*URL to font*/
}

.zone {
    stroke: whitesmoke;
    stroke-linejoin: round;
    stroke-width: 0.05em;
}

.title{
    font-family: "Raleway-Bold";
    font-size: 2em;
}

.subtitle{
    font-family: "Raleway-Thin";
    font-size: 1em;
}

.zone_location_id{
    font-family: "Raleway-Heavy";
    font-size: 6em;
}

.zone_name {
    font-family: "Raleway-Heavy";
    font-size: 3.8em;
}

.zone_borough{
    font-family: "Raleway-Regular";
    font-size: 2.6em;
}

p {
  font-family: "Raleway-Light";
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway-Bold";
}

.custom_nav{
    background-color : rgb(239, 171, 1);
    font-family: Raleway-Medium;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: rgba(255,255,255, 0.8);
}